/* ------------------------------------------- */
/* BUTTON | LAZY
/* ------------------------------------------- */

.btn {
    position: relative;
    display: inline-block;
    color: $color-white;
    font-size: 1.4rem;
    text-decoration: none;
    letter-spacing: .15rem;
    border: .2rem solid $color-red;
    padding: 1rem 4.6rem;
    text-transform: uppercase;
    overflow: hidden;
    transition: all 1s ease;
}

.btn::before {
    content: "";
    background: $color-red;
    @include center-vh;
    transition: all 0.6s ease;
    z-index: -1;
}

// * --- BUTTON EXPLORE --- * \\
.btn-read::before {
    width: 100%;
    height: 0;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.btn-read:hover::before {
   height: 360%;
}