/* ------------------------------------------- */
/* REVIEW PAGE
/* ------------------------------------------- */

.section-review {
    
    grid-column: 2 / 7;

    font-size: 1.8rem;

    &__heading {
        padding: 2rem 0;
        justify-content: center;
        color: $color-red-dark;
    }
}

.review-text {

    &--1 {
        padding-bottom: 2rem;
        padding-top: 6rem;
    }

    &--2 {
        text-align: center;
    }

    &--6 {
        text-align: center;
    }
}

.page-info {
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    border-bottom: .26rem solid $color-red-dark;
    padding-top: 2rem;
    padding-bottom: 1rem;

    /* -- WRITTEN BY -- */
    &__wb {
        grid-column: 1 / 3;
        justify-self: center;
        align-self: center;
        font-size: 1.5rem;
    }

    /* -- LAST UPDATED -- */
    &__lu {
        grid-column: 8 / 9;
        justify-self: center;
        align-self: center;
        font-size: 1.4rem;
    }

    /* -- ARROW BY THE AUTHOR -- */
    &__arrow {
        color: $color-red-dark;
    }
}