/* ------------------------------------------- */
/* HEADER
/* ------------------------------------------- */

.header-bg { background-color: $color-black; max-width: 100%;}

.header {
    background-image: linear-gradient(to bottom, rgba($color-black, .80), rgba($color-black, .70)), url(../images/hero-1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 2;
    height: 85vh;
    width: 100%;

    // Main content wrapper
    &__content {
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        align-items: flex-start;
        position: absolute;
        top: 25%;

        // * --- MEDIA QUERIES --- * \\
        @media only screen and (max-width: $bp-medium) { top: 30%; }
        @media only screen and (max-width: $bp-small) { top: 30%; }
    }
    // Heading
    &__heading {
        color: $color-white;
        font-weight: 400;
        font-size: 6rem;
        letter-spacing: 1.6rem;
        // * --- MEDIA QUERIES --- * \\
        @media only screen and (max-width: $bp-small) {
            font-size: 3.5rem;
        }
    }
    // Sub-Heading
    &__sub-text {
        color: $color-white;
        font-size: 1.9rem;
        font-weight: 300;
        letter-spacing: .15rem;
        margin-bottom: 2rem;
        // * --- MEDIA QUERIES --- * \\
        @media only screen and (max-width: $bp-small) {
            font-size: 1.5rem;
        }
    }
    // Types (Review/Platform)
    &__types {
        display: grid;
        width: 10rem;
        grid-gap: .5rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    // Platform & Type
    &__platform,
    &__type {
        font-weight: 700;
        padding: .4rem;
        // * --- MEDIA QUERIES --- * \\
        @media only screen and (max-width: $bp-small) {
            padding: .3rem;
        }
    }

    // * --- HEADER MEDIA QUERIES --- * \\
    @media only screen and (max-width: $bp-medium) {
        height: 85vh;
        background-position: 80%;
    }
} 