/* ------------------------------------------- */
/* ANIMATION | TEXT APPEAR
/* ------------------------------------------- */

@keyframes rev-block {

    0% {
        left: 0;
        width: 0%;
    }

    50% {
        left: 0;
        width: 100%;
    }

    100% {
        left: 100%;
        width: 0%;
    }
}

@keyframes appear-text {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ------------------------------------------- */
/* ANIMATIONS | TESTIMONIAL CARD
/* ------------------------------------------- */
@keyframes animatop{
    0%{ 
      opacity: 0;
      bottom: -50rem;}
    100%{  
     opacity: 1;  
    bottom: 0rem;}
  }
   
  @keyframes animainfos{
    0%{
      bottom:  1rem;}
    100%{
    bottom: -4.2rem;}
  }
  
  @keyframes rotatemagic{
    0%{
      opacity: 0;
      transform: rotate(-0deg);
      top: -2.4rem;
      left: -25.3rem;
    }
    100%{
      
      transform: rotate(-30deg);
      top: -2.4rem;
      left: -7.8rem;
    }
  }