/* ------------------------------------------- */
/* COLOR VARIABLES
/* ------------------------------------------- */

$color-primary: #0b454d;
$color-primary-light: #09383E;
$color-primary-dark: #051d20;

// COLOR FOR THE HEADER
$color-secondary-grey: #95a5a6;

// ELLIPSE VARIABLES | COLORS 
$color-blue-1: #09383E;

// OTHER COLORS \\
$color-red: #e74c3c;
$color-red-dark: #c0392b;

$color-blue: #2980b9;
$color-blue-light: #3498db;

/* GREY SHADES */

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #4d4d4d;

/* B & W */

$color-white: #fff;
$color-black: #000;

/* COLORS FOR SECTIONS BACKGROUNDS */

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #f1f0f0;
$color-grey-light: #ecf0f1;



/* ------------------------------------------- */
/* GRID VARIABLES
/* ------------------------------------------- */

$grid-width: 114rem;    // MAX WIDTH
$gutter-vertical: 8rem; // VERTICAL SPACING BETWEEN COLUMNS
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem; // HORIZONTAL SPACING BETWEEN COLUMNS

/* ------------------------------------------- */
/* FONT
/* ------------------------------------------- */

$default-font-size: 1.6rem;